header {
  padding: 15px;
}

.display {
  text-align: center;
}
.display p {
  position: relative;
  font-weight: bold;
}
.display,
.display *::before,
.display *::after {
  transition: all 0.1s;
}

/* First */
.display:nth-child(1) p {
  background: white;
  overflow: visible;
  color: black;
  display: inline-block;
  --offset: -10px;
  --shift: 0px;
}
.display:nth-child(1) p:hover {
  --shift: 3px;
}
.display:nth-child(1) p::before {
  content: attr(data-before);
  position: absolute;
  left: var(--offset);
  top: var(--shift);
  color: red;
  z-index: -1;
}
.display:nth-child(1) p::after {
  content: attr(data-before);
  position: absolute;
  right: var(--offset);
  top: var(--shift);
  color: blue;
  z-index: -1;
}

/* Second */
.display:nth-child(2) p {
  overflow: visible;
  color: transparent;
  display: inline-block;
  --offset: -5px;
  --opacity: 0.8;
  --skew: 0deg;
  transition: all 0.1s;
}
.display:nth-child(2) p:hover {
  --skew: -15deg;
  -webkit-transform: skewX(var(--skew));
  -moz-transform: skewX(var(--skew));
  -o-transform: skewX(var(--skew));
  transform: skewX(var(--skew));
}
.display:nth-child(2) p::before {
  content: attr(data-before);
  position: absolute;
  left: var(--offset);
  color: red;
  z-index: -1;
  /* opacity: var(--opacity); */
}
.display:nth-child(2) p::after {
  content: attr(data-before);
  position: absolute;
  right: var(--offset);
  color: blue;
  z-index: -1;
  opacity: var(--opacity);
}

/* Third */
.display:nth-child(3) p {
  background-color: #cc11d0;
  background-image: linear-gradient(45deg, #cc11d0, #940e0b);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  display: inline-block;
  --offset: -0px;
}

.display:nth-child(3) p:hover {
  --offset: -5px;
}

.display:nth-child(3) p::before {
  content: attr(data-before);
  position: absolute;
  left: var(--offset);
  z-index: -1;
  background-color: #cc11d0;
  background-image: linear-gradient(45deg, #cc11d0, #940e0b);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0.5;
}
.display:nth-child(3) p::after {
  content: attr(data-before);
  position: absolute;
  right: var(--offset);
  z-index: -1;
  background-color: #cc11d0;
  background-image: linear-gradient(45deg, #cc11d0, #940e0b);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  opacity: 0.5;
}

/* Fourth */
.display:nth-child(4) p {
  display: inline-block;
  --bar-height: 0.2em;
}
.display:nth-child(4) p:hover {
  --bar-height: 0.4em;
}
.display:nth-child(4) p::after {
  content: "";
  height: var(--bar-height);
  width: 100%;
  background: red;
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: -1;
}

/* Fifth */
.display:nth-child(5) p {
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.display:nth-child(5) p::selection {
  background-color: #f58b57;
  text-shadow: 0.1em 0.3em 0 black;
}
